body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
nav {
    background-color: #2a084a;
    padding: 15px;
    display: flex;
    justify-content: space-between; /* Логотип будет находиться по центру между элементами */
    align-items: center; /* Центрируем элементы по вертикали */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Заставляем список растянуться по ширине */
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul .menu-left,
nav ul .menu-right {
    display: flex;
    gap: 20px;
}

.logo {
    font-size: 38px; /* Увеличиваем размер текста логотипа */
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center; /* Центрируем текст */
    align-items: center; /* Центрируем по вертикали */
    text-align: center;
    white-space: nowrap; /* Не разрешаем переносу текста */
    padding: 0;
    margin: 0;
}

.logo a {
    text-decoration: none;
    color: white;
}

.logo li {
    display: flex;
    align-items: center; /* Центрируем логотип внутри списка */
    padding: 0; /* Убираем отступы внутри элемента списка */
    margin: 0; /* Убираем отступы внутри элемента списка */
}



.movie-announcement {
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.movie-announcement img {
    max-height: 400px; /* Устанавливаем максимальную высоту */
    width: auto; /* Сохраняем пропорции */
    display: inline-block;
}


.movies-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.movie-card {
    width: 20%; /* Делаем карточку немного меньше */
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Добавляем плавный переход для эффектов */
}
.movie-card:hover {
    transform: scale(1.05); /* Увеличение карточки при наведении */
    box-shadow: 0 8px 18px rgba(42, 8, 74, 0.8); /* Темно-фиолетовая тень при наведении */
}

.movie-card img {
    max-width: 100%;
    height: auto;
}

.movie-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

/* Стили для футера */
.footer {
    background-color: white;
    padding: 30px 0;
    border-top: 1px solid #ccc;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    width: 100%;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.footer-section p {
    margin: 0;
    color: #555;
}

.social-section {
    text-align: right;
}

.social-icons {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .footer-section {
        width: 50%;
    }

    .social-section {
        text-align: right;
    }
}

.registration-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group input[type="checkbox"],
.form-group input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

.form-group select[multiple] {
    height: 80px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.error-list {
    background-color: transparent;
    color: #721c24;
    border: none;
    padding: 0;
    margin: 0;
}

.error {
    color: #721c24;
    font-size: 14px;
    margin-top: 5px;
}

input.error, select.error, textarea.error {
    border: 1px solid #f44336; /* Красный контур для полей с ошибкой */
    background-color: #fef0f0;
}

.form-group.has-error input,
.form-group.has-error select,
.form-group.has-error textarea {
    border: 1px solid #f44336;
    background-color: #fef0f0;
}

input.error:focus, select.error:focus, textarea.error:focus {
    outline: none;
    border-color: #d32f2f; /* Более темный красный при фокусе */
}

.form-group .error {
    margin-top: 5px; /* Расположить сообщение под полем */
    font-size: 14px;
}

@media (min-width: 768px) {
    .registration-container {
        width: 500px;
    }
}

.search-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-input {
    padding: 4px 10px !important;
    border: 1px solid #ccc !important;
    border-radius: 10px !important;
    font-size: 14px !important;
    width: 220px !important;
    height: 30px !important;
}

.search-btn {
    padding: 3px 5px !important;
    background-color: white !important;
    color: black !important;
    border: 1px solid #ccc !important;
    border-radius: 10px !important;
    font-size: 14px !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
    height: 25px !important;
    width: 60px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn:hover {
    background-color: #1cbb0e !important;
}

@media (max-width: 768px) {
    .search-input {
        width: 150px;
    }
}

.logo {
    text-align: center;
    flex: 1;
}
/* Стиль для страницы подтверждения выхода */
.confirmation {
    max-width: 400px;
    margin: 100px auto; /* Центрируем блок по вертикали и горизонтали */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень вокруг блока */
    text-align: center;
}

.confirmation h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
}

/* Стили для кнопок Да и Нет */
.confirmation a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/* Стиль для кнопки Да (зеленая) */
.confirmation a[href="/logout"] {
    background-color: #4CAF50; /* Зеленая кнопка */
}

.confirmation a[href="/logout"]:hover {
    background-color: #45a049;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень при наведении */
    transform: translateY(-2px); /* Плавный подъем */
}

/* Стиль для кнопки Нет (красная) */
.confirmation a[href="/"] {
    background-color: #f44336; /* Красная кнопка */
}

.confirmation a[href="/"]:hover {
    background-color: #e53935;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень при наведении */
    transform: translateY(-2px); /* Плавный подъем */
}
/* Стиль для сообщения */
.message {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #4a148c; /* Глубокий фиолетовый фон */
    color: #fff; /* Белый текст для контраста */
    font-style: normal; /* Прямой текст, чтобы было легче читать */
    border: 2px solid #ab47bc; /* Яркая граница для контраста */
    border-radius: 15px; /* Более закругленные углы */
    text-align: center;
    font-size: 18px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Более сильная тень */
    position: relative;
    animation: slideIn 0.5s ease-out, fadeOut 0.5s 4.5s ease-in forwards; /* Анимация появления и исчезновения */
    opacity: 1;
}

/* Анимация появления */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-30px); /* Начинаем чуть выше */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Движение вниз к нормальной позиции */
    }
}

/* Анимация исчезновения */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-30px); /* Сообщение уходит вверх */
    }

}
.movie-detail {
    display: flex;
    justify-content: center; /* Центрируем весь блок с фильмом */
    padding: 20px;
}

.movie-info {
    width: 100%; /* Ширина блока на всю страницу */
    max-width: 1200px; /* Ограничиваем максимальную ширину для контента */
    text-align: center; /* Центрируем заголовок и текст */
}

.movie-info h1 {
    color: #2a084a; /* Цвет заголовка под цвет хедера */
    font-size: 36px; /* Размер заголовка */
    margin-bottom: 20px;
}

.movie-info p {
    font-size: 18px;
    margin-bottom: 20px;
}

.movie-info iframe {
    width: 90%; /* Уменьшаем ширину iframe до 90% */
    height: 600px; /* Устанавливаем высоту для 16:9 */
    max-width: 1100px; /* Максимальная ширина проигрывателя */
    border: none; /* Убираем рамку у iframe */
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Легкая тень */
}
.pagination {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    margin-bottom: 30px; /* Отступ перед футером */
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.pagination a {
    color: white;
    background-color: #2a084a; /* Фиолетовый цвет как у хедера */
    padding: 8px 16px;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #6a1b9a; /* Более светлый фиолетовый при наведении */
}

.pagination span {
    color: #333;
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #f4f4f4;
}




